/* You can add global styles to this file, and also import other style files */

@use "./themes.scss" as themes;
@use '@angular/material' as mat;


@include mat.core();
html, body { height: 100%; }

$primary-color: mat.get-theme-color(themes.$my-theme, primary);
$accent-color: mat.get-theme-color(themes.$my-theme, accent);
$warn-color: mat.get-theme-color(themes.$my-theme, warn);

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url("./assets/background.png");}

mat-typography{
    height: 100vh;  
}