<div class="navbar">
  <a routerLink="/home"><img src="./assets/logo.png" alt="Demeter Logo" height="150" width="150" priority></a>

  <a *ngIf="(currentUser$ | async) !== Role.GUEST && (currentUser$ | async) !== null" mat-stroked-button color="accent" routerLink="/plantes" class="navbarButton">Mes plantes<mat-icon *ngIf="(plantNeedWatering$ | async)" color="warn">notification_important</mat-icon></a>
  <a mat-stroked-button color="accent" routerLink="/catalogue" class="navbarButton">Catalogue</a>
  
  <a *ngIf="(currentUser$ | async) == Role.GUEST || (currentUser$ | async) == null" mat-stroked-button color="accent" routerLink="/login" class="navbarButton">Se connecter</a>
  <a *ngIf="(currentUser$ | async) == Role.ADMIN " mat-stroked-button color="accent" routerLink="/admin" class="navbarButton">Admin</a>
  <a *ngIf="(currentUser$ | async) !== Role.GUEST && (currentUser$ | async) !== null" mat-stroked-button color="accent" (click)="logout()" class="navbarButton">Se déconnecter</a>
  
  <div style="position: fixed; bottom: 0">{{(currentUser$ | async)}}</div>
</div>  