<app-title title="Vos plantes"></app-title>

<div class="bg">
    <mat-form-field class="form" color="accent">
        <mat-label>Rechercher une plante</mat-label>
        <input (keyup)="applyFilter(value)" matInput type="text" [(ngModel)]="value">
        @if (value) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''" (click)=applyFilter(value)>
            <mat-icon>close</mat-icon>
        </button>
        }
    </mat-form-field>

    <p *ngIf="!plantes.data.length">Plantes en cours de chargement...</p> <!--TODO à changer en component tout beau--> 

    <div [hidden]="!plantes.data.length" class="mat-elevation-z8">
        <table mat-table [dataSource]="plantes" matSort >   
            <!-- Libellé Column -->
            <ng-container matColumnDef="libelle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Libellé </th>
                <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
            </ng-container>
        

        
            <!-- Image Column -->
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element">
                    <img [src]="'assets/images/' + element.image + '.png'" alt="{{element.libelle}}" width="150">
                </td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="arrosage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrosé le </th>
                <td mat-cell *matCellDef="let element"> {{element.arrosage}} </td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="arrose">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> A arrosé </th>
                <td mat-cell *matCellDef="let element"> {{element.arrose}} </td>
            </ng-container>

            <!-- Nouvelle colonne pour le bouton "Arroser" -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-flat-button color="primary" (click)="arroserDialogue(element)">
                        Arroser
                    </button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator 
            [length]="plantes.data.length"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25]"
            >
        </mat-paginator>
    </div>
</div>