<app-title title="Login"></app-title>

<div form-container>
  <div class="login-container">
    <mat-card class="login-card">
      <mat-card-title>Connexion</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
          
          <!-- Champ Username -->
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="username" type="text" />
            <mat-error *ngIf="isSubmitted && loginUsername?.errors?.['required']">
              Ce champ est requis.
            </mat-error>
            <mat-error *ngIf="isSubmitted && loginUsername?.errors?.['minlength']">
              Minimum 3 caractères.
            </mat-error>
          </mat-form-field>

          <!-- Champ Password -->
          <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" type="password" />
            <mat-error *ngIf="isSubmitted && loginPassword?.errors?.['required']">
              Ce champ est requis.
            </mat-error>
            <mat-error *ngIf="isSubmitted && loginPassword?.errors?.['minlength']">
              Minimum 6 caractères.
            </mat-error>
          </mat-form-field>

          <!-- Bouton de connexion -->
          <button mat-raised-button color="accent" type="submit">Se connecter</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  
  <!--Register-->
  <div class="login-container">
    <mat-card class="login-card">
      <mat-card-title>Inscription</mat-card-title>
      <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">

          <!-- Champ Username -->
          <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="firstName" type="text" />
            <mat-error *ngIf="isSubmitted && registerFirstName?.errors?.['required']">
              Ce champ est requis.
            </mat-error>
            <mat-error *ngIf="isSubmitted && registerFirstName?.errors?.['minlength']">
              Minimum 3 caractères.
            </mat-error>
          </mat-form-field>

          <!-- Champ Username -->
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastName" type="text" />
            <mat-error *ngIf="isSubmitted && registerLastName?.errors?.['required']">
              Ce champ est requis.
            </mat-error>
            <mat-error *ngIf="isSubmitted && registerLastName?.errors?.['minlength']">
              Minimum 3 caractères.
            </mat-error>
          </mat-form-field>
          
          <!-- Champ Username -->
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="username" type="text" />
            <mat-error *ngIf="isSubmitted && registerUsername?.errors?.['required']">
              Ce champ est requis.
            </mat-error>
            <mat-error *ngIf="isSubmitted && registerUsername?.errors?.['minlength']">
              Minimum 3 caractères.
            </mat-error>
          </mat-form-field>

          <!-- Champ Password -->
          <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" type="password" />
            <mat-error *ngIf="isSubmitted && registerPassword?.errors?.['required']">
              Ce champ est requis.
            </mat-error>
            <mat-error *ngIf="isSubmitted && registerPassword?.errors?.['minlength']">
              Minimum 6 caractères.
            </mat-error>
          </mat-form-field>

          <!-- Bouton de connexion -->
          <button mat-raised-button color="accent" type="submit">S'inscrire</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>