@use "../../../styles.scss" as styles;

.form-container {
  display: flex;
  flex-wrap: wrap;
}

.login-container {
  flex-direction: column;
  padding: 1.5%;
}

.login-card {
  width: 400px;
  padding: 20px;
}

mat-card{
  background-color: rgba(styles.$primary-color, 0.7);
}

mat-label{
  color: #fff;
  font-size: 16px;
  
}

mat-card-title{
  font-size: 20px;
  padding-bottom: 50px;
}
