spring:
  application:
    name: Demeter

  datasource:
    url: jdbc:postgresql://localhost:5432/demeter
    username: demeter
    password: demeter

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false

  flyway:
    enabled: true
    validate-on-migrate: true
    locations: classpath:db/migration
    create-schemas: true
    default-schema: demeter


logging:
  level:
    org:
      springframework:
        web: INFO

security:
  jwt:
    expiration-time: 3600000
    secret-key: aae336920139b59f88f8983b27d579acebfe6ed19f84f580fe35fcc9df6f950f