@use "../../../styles.scss" as styles;

.snackbar {
    color: styles.$accent-color;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

button{
    margin-left: auto;
}