@use "../styles.scss" as styles;

.main{
    background-image: url("../assets/background.png");
    height: 100%;
}


.navbar{
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;
    background-color: styles.$primary-color;
    height: 100%;

}

.navbarButton{
    width: 100%;;
    margin: 8px 0;
    height: 40px;
}
