<h2 mat-dialog-title class="title">Éditer l’utilisateur</h2>

<mat-dialog-content class="content">
  <form [formGroup]="form" class="form">
    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
        
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
        
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="username">
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Rôle</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let r of roles" [value]="r">
            {{ r }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
  
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Annuler</button>
  <button mat-button color="accent" (click)="save()" [disabled]="form.invalid">
    Valider
  </button>
</mat-dialog-actions>
  