@use "../../../styles.scss" as styles;

.container{
  display: flex;
  flex-direction: row;
}



.users{
  width: 60%;
}

table{
  margin-left: 5%;
  background-color: rgba(styles.$primary-color, 0.2);
  table-layout: fixed;
}

th{
  font-size: 20px; 
  font-weight: bold;
}

td{
  font-size: 18px;
}

.name-cell{
  width: 40%;
}

button{
  margin: 5px;
}