<app-title title="Administration"></app-title>

<div class="container">

  <mat-card class="add-plant">
    <mat-card-title>Insérer une plante</mat-card-title>
    <mat-card-content>
      <form [formGroup]="plantForm" (ngSubmit)="onSubmitPlant()">

        <!-- Champ Name -->
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text" />
          <mat-error *ngIf="isSubmitted && name?.errors?.['required']">
            Ce champ est requis.
          </mat-error>
          <mat-error *ngIf="isSubmitted && name?.errors?.['minlength']">
            Minimum 3 caractères.
          </mat-error>
        </mat-form-field>

        <!-- Champ Type -->
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of plantTypes" [value]="type.id">
              {{ type.libelle }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isSubmitted && image?.errors?.['required']">
            Ce champ est requis.
          </mat-error>
        </mat-form-field>

        <!-- Champ Image -->
        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <input matInput formControlName="image" type="text" />
          <mat-error *ngIf="isSubmitted && image?.errors?.['required']">
            Ce champ est requis.
          </mat-error>
          <mat-error *ngIf="isSubmitted && image?.errors?.['minlength']">
            Minimum 3 caractères.
          </mat-error>
        </mat-form-field>

        <!-- Champ Description -->
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" type="text" />
          <mat-error *ngIf="isSubmitted && description?.errors?.['required']">
            Ce champ est requis.
          </mat-error>
          <mat-error *ngIf="isSubmitted && description?.errors?.['minlength']">
            Minimum 3 caractères.
          </mat-error>
        </mat-form-field>

        <!-- Champ Début Récolte -->
        <mat-form-field appearance="outline">
          <mat-label>Début de la récolte</mat-label>
          <mat-select formControlName="deb_recolte">
            <mat-option *ngFor="let mois of plantMois" [value]="mois.id">
              {{ mois.libelle }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Champ Fin Récolte -->
        <mat-form-field appearance="outline">
          <mat-label>Fin de la récolte</mat-label>
          <mat-select formControlName="deb_recolte">
            <mat-option *ngFor="let mois of plantMois" [value]="mois.id">
              {{ mois.libelle }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Champ Besoin Soleil -->
        <mat-form-field appearance="outline">
          <mat-label>Ensoleillement</mat-label>
          <mat-select formControlName="besoin_soleil">
            <mat-option *ngFor="let besoin of plantBesoinSoleil" [value]="besoin.id">
              {{ besoin.libelle }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isSubmitted && besoin_soleil?.errors?.['required']">
            Ce champ est requis.
          </mat-error>
        </mat-form-field>

        <!-- Champ Fréquence Arrosage -->
        <mat-form-field appearance="outline">
          <mat-label>Fréquence d'arrosage</mat-label>
          <input matInput formControlName="freq_arrosage" type="text" />
          <mat-error *ngIf="isSubmitted && freq_arrosage?.errors?.['required']">
            Ce champ est requis.
          </mat-error>
        </mat-form-field>

        <!-- Champ Famille -->
        <mat-form-field appearance="outline">
          <mat-label>Famille</mat-label>
          <mat-select formControlName="famille">
            <mat-option *ngFor="let famille of plantFamille" [value]="famille.id">
              {{ famille.libelle }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isSubmitted && famille?.errors?.['required']">
            Ce champ est requis.
          </mat-error>
        </mat-form-field>

        <!-- Bouton de Validation -->
        <button mat-raised-button [disabled]="plantForm.invalid" color="accent" type="submit">Insérer</button>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="users">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Name">
        <th class="name-cell" mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let user"> {{user.username}} </td>
      </ng-container>

      <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef>Prénom</th>
        <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef>Rôle</th>
        <td mat-cell *matCellDef="let user">
          <mat-icon *ngIf="user.role == Role.ADMIN" matTooltip="ADMIN">supervised_user_circle</mat-icon>
          <mat-icon *ngIf="user.role == Role.USER" matTooltip="USER">account_circle</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user">
          <button mat-flat-button color="accent" (click)="openEditDialog(user)">Editer</button>
          <button mat-flat-button color="warn" (click)="openSupDialog(user)">Supprimer</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>