@use "../../../styles.scss" as styles;

table{
  width: 100%;
  background-color: rgba(styles.$primary-color, 0.2);
  table-layout: fixed;
}

th{
  font-size: 20px; 
  font-weight: bold;
}

td{
  font-size: 18px;
}

img {
  border-radius: 5px;
}

.form{
  width: 20%;
  padding-top: 1.5%;
}

mat-paginator{
  background-color: rgba(styles.$primary-color, 0.8);
}

.head{
  display: flex;
  justify-content: space-between;
}

.revokeButton{
  margin-right: 3%;
  margin-top: 2%;
  font-size: 20px;
}

.name {
  display: flex;
  align-items: center;
}