<div>
    <div class="head">
        <mat-form-field class="form" color="primary">
            <mat-label>Rechercher une plante</mat-label>
            <input (keyup)="applyFilter(value)" matInput type="text" [(ngModel)]="value">
            @if (value) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''" (click)=applyFilter(value)>
                <mat-icon>close</mat-icon>
            </button>
            }
        </mat-form-field>

        <button class="revokeButton" mat-flat-button color="warn" *ngIf="showRevokePlant" (click)="toggleDeleteButton()">Retirer des plantes</button>

    </div>

    <p *ngIf="!data.length">Plantes en cours de chargement...</p>

    <div [hidden]="!data.length" class="mat-elevation-z8">
        <table mat-table [dataSource]="plantes" matSort>   
            
            <!-- Colonnes dynamiques -->
            <ng-container *ngFor="let col of columnsConfig" [matColumnDef]="col.key">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ col.label }} </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="col.key === 'imageName'">
                        <img [src]="'assets/images/' + element.imageName + '.png'" alt="{{element.name}}" width="120">
                    </ng-container>

                    <ng-container *ngIf="col.key === 'plantType'">
                        {{ element.plantType?.name }}
                    </ng-container>
                    
                    <ng-container *ngIf="col.key !== 'imageName' && col.key !== 'plantType'">
                        {{ element[col.key] }}
                    </ng-container>
                    
                </td>
            </ng-container>

            <!-- Actions -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="!showDeleteButton" mat-flat-button color="accent" (click)="actionHandler(element)">
                        {{ actionLabel }}
                        <mat-icon fontIcon="keyboard_arrow_up"></mat-icon>
                    </button>
                    <button *ngIf="showDeleteButton" mat-flat-button color="warn" (click)="deleteActionHandler(element)">
                        Supprimer
                        <mat-icon fontIcon="restore_from_trash"></mat-icon>
                    </button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </div>
</div>
