<app-title title="Catalogue de plante"></app-title>
<div class="bg">
    
    <app-plante-liste
        title="Catalogue de plante"
        [data]="plantes.data"
        [displayedColumns]="['libelle', 'image', 'type', 'actions']"
        [columnsConfig]="[
            { key: 'libelle', label: 'Libellé' },
            { key: 'image', label: 'Image' },
            { key: 'type', label: 'Type' }
        ]"
        actionLabel="Ajouter"
        [actionHandler]="actionHandler">
    </app-plante-liste>

</div>